.auth-form-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    min-height: 100vh;
    align-items: stretch;
}

.auth-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.auth-right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px;
    background-image: linear-gradient(to top, var(--base-color-back), var(--color-helper-orange));
}

.login-container {
    width: 420px;
    padding: 30px 40px;
    border-radius: 15px;

    background: var(--base-color-back);
}

.login-container .input-box {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 30px 0;
}

.input-box input,
.input-box-tag input {
    height: 40px;
}

.input-box input,
.input-box-tag input,
.input-box textarea {
    width: 100%;

    padding: 20px 35px 20px 20px;

    outline: none;
    background: transparent;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;

    
    font-size: 16px;
}

.input-box input::placeholder,
.input-box-tag input::placeholder,
.input-box textarea::placeholder {
    color: #595959;
}

.input-box img {
    position: absolute;
    right: 20px;
}

.icon {
    background-color: transparent;
    width: 20px;
    top: 30%;
    transform: translate(20%);
    font-size: 20px;
}

.btn-submit {
    width: 100%;
}

.route {
    text-align: center;
    margin: 20px 0 15px 0;
}

.route a:hover {
   text-decoration: none;
}
