.full-wishlist {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.empty-wishlist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    gap: 2rem;
    padding: 30px 40px;
}
