@model CatsGallery.Web.ViewModels.GalleryViewModel

<div >
    
    <div class="photo-container">
        <div>
            
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.PrevCat.ImageBytes)"
                 class="photo-container prev-photo"/>
        </div>

        <div>
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.CurrCat.ImageBytes)"
                 class="photo-container current-photo"/>
        </div>

        <div>
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.NextCat.ImageBytes)"
                     class="photo-container next-photo"/>
        </div>

    </div>

    <div class="nav-buttons">
        <button class="gallery-btn btn btn-outline-secondary border-2 px-4 py-2"
                data-action="@Url.Action("PrevCat")">
            Предыдущая
        </button>
        
        <button class="gallery-btn btn btn-outline-secondary border-2 px-4 py-2"
                data-action="@Url.Action("NextCat")">
            Следующая
        </button>
    </div>
</div>